* {
    margin: 0;
    animation-name: fade;
    animation-duration: 1s;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.center {
    align-self: center;
    justify-self: center;
}

a {
    color: #ff7b00;
    text-decoration: none;
}

a:hover {text-decoration: underline;}

li, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 10px;
}

td {align-content: first baseline;}

#book {
    width: 256px;
    padding: 20px;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    user-select: none;
    align-self: center;
    text-align: center;
    border-radius: 15px;
    background-color: #7fffd4;
}

.form, .clicka {
    width: 256px;
    margin: 4px;
    padding: 16px;
    color: #000000;
    border-radius: 32px;
    border: 2px solid #7fffd4;
    background-color: #ffffff;
}

.clicka {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    background-color: #7fffd4;
}

#init {
    width: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
}

#pop, #support, #ackno {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 25%;
    right: 25%;
    width: 50vw;
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 5px;
}

#x {
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    padding: 5px 7px;
    background-color: #960000;
    border-radius: 10%;
    text-decoration: none;
    user-select: none;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 15%;
}

header {
    background-color: #f0f0f0;
    font-family: Recoleta;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    z-index: 100;
    display: flex;
}

footer {
    gap: 10px;
    z-index: 100;
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: Recoleta;
    justify-content: center;
    background-color: #f0f0f0;
}

nav {
    gap: 10px;
    display: flex;
    margin-left: auto;
}

img {
    margin:5px;
    border-radius: 13px;
}

.logo {
    font-size: 24px;
    color: #000000;
    font-weight: bolder;
}

.nav {
    gap: 10px;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    border-radius: 5px;
    align-self: center;
    font-family: sans-serif;
}

.logo:hover, .nav:hover {text-decoration: none;}

.nav:hover, .pointer {
    color: #FFFFFF;
    background-color: #969696;
}

.active {
    color: #FFFFFF;
    background-color: #202020;
}

.cover {
    left: 0;
    padding: 5%;
    width: 100%;
    display: flex;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    background-size: cover;
    flex-direction: column;
    font-family:'Courier New', Courier, monospace;
}

.floating {
    padding-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
}


#book:hover, footer a {
    cursor: pointer;
    text-decoration: none;
}

@keyframes fade {
    to {opacity: 1}
    from {opacity: 0}
}

@media (max-width: 664px) {
    .deep {
        width: 0;
        display: none;
    }

    main {margin: 10px 4%}
}